<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" th:href="@{/}">Apuntes</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/uploadForm}">Subir archivos</a>
                                </li>

                            </ul>
                            <form th:action="@{/search}" method="POST" class="form-inline my-2 my-lg-0">
                            <input name="q" class="form-control mr-sm-2" type="search" placeholder="Buscar apunte" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row "  >
                <div class="col mt-2 ">
                    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="card-body ">
                            <form class="form-inline text-center" method="POST" enctype="multipart/form-data" action="/upload">
                                <div class="form-group mx-sm mb-2">
                                    <label for="file" class="sr-only">Subir archivo</label>
                                    <input type="file" name="file" />
                                </div>

                                <button type="submit" class="ml-2 btn btn-primary mb-2">Subir</button>
                            </form>
                            <p th:if="${status== 'ok'}" th:text="${message}" class="text-success"/>
                            <p th:if="${status== 'fail'}" th:text="${message}" class="text-danger"/>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    </body>
</html>
